/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
/*--------------------*/

html, body{
	height:100%;
	width:100%
}

a { 
    text-decoration: none; 
	color: #414141;
   } 

.wrapper{
	min-height: 100%;
	overflow: hidden;
/*	В случае если будет выходить за пределы страницы - просто не будет показываться. Можно настроить также визибл и скролл*/
	display: flex;
	flex-direction: column;
}

.content{
	flex: 1 1 auto; 
/*	Свободно перемещается по х и свободно по у*/
}

.container{
	max-width: 1360px;
	margin: 0px auto;
/*	Размер полей снаружи элемента/Расстояние от одного блока до другого*/
}

.header{
	padding: 50px 0;
	padding-top: 42px;
	padding-bottom: 56px;
}

.header_row{
	display: flex;
}

.logo{
	font-size: 20px;
  top: -1px;
  font-family: "Krona One", Helvetica;
  font-weight: 400;
  color: #414141;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  width: 250px;
  height: 50px;
}

.buttons{
	margin-left: 430px;
	
}

.buttons > button:not(:last-child) {
  margin-right: 50px;
}

button {
	margin: 0;
	text-align: center;
	background: white;
	color: #414141;
	width: 92px;
	height: 43px;
	font-size: 16px;
	border: 1px solid #414141;
	border-radius: 15px;
	overflow: hidden;
  font-family: "Inter", Helvetica;
  font-weight: 400;
}

button:hover {
	cursor: pointer;
	border: 2px solid #414141;
}

button:active{
	cursor: pointer;
	border: 2px solid #414141;
	transform: scale(1.04);
}

.hi{
}

.hi_row {
	display: flex;
}

.hi_main{
	margin-top: 208px;
	margin-left: 89px;
}

.hi_title{
	
	text-align: center;
	font-family: "Krona One", Helvetica;
  font-weight: 400;
  color: #414141;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
	margin-bottom: 35px;
}

.hi_text{
	font-family: "Krona One", Helvetica;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #414141;
  letter-spacing: 0;
  line-height: normal;
}



.button2 {
	width: 196px;
}

.button3 {
	width: 43px;
}

.hi_button{
	margin-top: 35px;
	margin-left: 109px;
}

.pro{
	padding-top: 114px;
}

.pro_title{
  font-family: "Inter", Helvetica;
  font-weight: 300;
  font-size: 25px;
  text-align: center;
  color: #414141;
  letter-spacing: 0;
  line-height: normal;
}

.pro_title2{
	padding-top: 35px;
	padding-bottom: 75px;
  font-family: "Inter", Helvetica;
  font-weight: 300;
  font-size: 25px;
  text-align: center;
  color: #414141;
  letter-spacing: 0;
  line-height: normal;
}

.pro_photos{
	flex: auto;
	padding-top: 76px;
}

.footer_row{
	display: flex;
	justify-content: center;
	padding-top: 53px;
	padding-bottom: 53px;
}

.footer_row{
	font-family: "Krona One", Helvetica;
  font-weight: 400;
  color: #414141;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}


.container2 {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.items {
  display: flex;
  align-items: center;
  width: fit-content;
  animation: carouselAnim 50s infinite alternate linear;
}

.entry {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 390px;
  background: #fff;
  margin: 1em;
  padding: 0.5em;
  border-radius: 10px;
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.5);
}


@keyframes carouselAnim {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(calc(-100% + (5 * 300px)));
  }
}

